h1{
    color :rgb(0,0,255)
}

.header{
    border:solid;
    background-color:rgb(255,0,0);
    display:flex;
    justify-content:space-between ;
}

.description{

    color:rgb(0,0,204)
}

.allgames{
    border:solid;
    background-color: rgb(255,255,0);
    display:flex;
    flex-wrap: wrap;
}

.game{

    color: red
}